.tituloProduto {
    padding-top: 25px;
}

.product-item__info {
    display: block;
}

.carrinho {
    
}

.preco {
    display: block;
    color: #ff0000;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 35px;
    font-family: "KaushanScript";
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.quantidade {
 
    border: 1px solid transparent;
    padding: 0 5px;
    border-radius: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background-color: #f8f8f8;
}

.observacoes {
    width: 50%;
    height: 150px;
    border: 1px solid transparent;
    padding: 0 5px;
    border-radius: 16px;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background-color: #f8f8f8;
    resize: none;
}