{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<div class="admin-logo">
    <img src="{% static 'img/icon.png' %}" alt="logo" height="50px" width="100%">
</div>
{%endblock%}



{%block extrastyle%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="icon" href="{% static 'img/icon.png' %}" />
<link rel="stylesheet" href="{% static 'admin/admin.css' %}">
{%endblock%}

{% block pretitle %}
{% endblock %}

{% if user.is_authenticated %}
{% block content_subtitle %}
<a href="{% url 'Core:dashbords' %}"><span class="material-icons " style="font-size: 35px; color: rgb(237, 95, 30);"> add_chart </span> </a>
  <script>
    function verificarURL(url, valorEsperado) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', url, true);

  xhr.onload = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      var resposta = xhr.responseText;
      if (resposta.includes(valorEsperado)) {
        var audio = new Audio('{% static "sons/alert.mp3" %}');
        audio.play();
        alert('Novo pedido recebido!');
      }
    }
  };

  xhr.send();
}

setInterval(function() {
  verificarURL('http://127.0.0.1:8000/sinalizar_pedidos/', 'OK');
}, 2 * 60 * 1000);
 </script>

{% endblock %}
{% else %}
nada
{% endif %}

