{%extends 'base.html'%}
{% load static %}

<title>{% block 'title' %}
	Sobre Nos
	{% endblock %}</title>
        {% block 'body' %}
        <div class="maincontent">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="display-4 text-center name_footer">A FoodShopee é um plataforma de Delivery Brasileira</h1>
                        <article class="article" data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-offset="0"
                        data-aos-delay="200">
                            <p>Lançada em 2023, a FoodShopee é uma plataforma adaptada para O lojista, dando aos seus clientes uma experiência de controle, segura , simple, e rápida, através de um forte suporte.
                                Comprar online deve ser algo acessível, fácil e agradável. Essa é a visão que a FoodShopee busca entregar em nossa plataforma, todos os dias.
                            </p>    
                        </article>
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title text-center name_footer">Nosso Propósito</h5>
                                  <p class="card-text text-center">Nós acreditamos no poder transformador da tecnologia. fornecendo uma plataforma que conecta compradores e vendedores dentro de suas comunidade.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title text-center name_footer">Nossa Personalidade</h5>
                                  <p class="card-text text-center">A FoodShopee busca oferecer uma experiência única e nova de compra online sem cadastros e sem Baixar Aplicativo por parte de seus Clientes.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="text-center"><span>Quem Somos
                            Em essência, somos Simples, Pratico e Funcional. Esses são os atributos-chave visíveis em cada passo da jornada na FoodShopee.</span>
                          <div class="card-group">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title name_footer">Simples</h5>
                                <p class="card-text">Simplicidade e Integridade: dois valores que são essenciais para ter uma vida mais honesta, prática e verdadeira.</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title name_footer">Pratico</h5>
                                <p class="card-text">Somos Pratico, Investimos em uma plataforma que Propoe o que promete da melhor forma.</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title name_footer">Funcional</h5>
                                <p class="card-text">Simples e Direto, Controle de Produtos e Pedidos, com dashboard Facil de Entender</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
