{%extends 'base.html'%}
{% load static %}

<title>{% block 'title' %}
	Sobre Nos
	{% endblock %}</title>

  {% block 'head' %}
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JV8YZKQ6ME"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JV8YZKQ6ME');
</script>
			{% endblock %}

        {% block 'body' %}
        <div class="maincontent">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h1 class="display-4 text-center name_footer">A FoodShopee é um plataforma de Delivery Brasileira</h1>
                        <article class="article" data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-offset="0"
                        data-aos-delay="200">
                            <p>A Foodshopee é uma plataforma inovadora de delivery, especialmente desenvolvida para logistas que desejam expandir seus negócios e alcançar um público mais amplo. Nossa plataforma oferece aos logistas a oportunidade de cadastrar e anunciar seus produtos de forma fácil e eficiente, permitindo que eles alcancem clientes em potencial que buscam uma experiencia no digital de compra.
                              <br>
                              <br>
                              Através da Foodshopee, os logistas têm a oportunidade de criar um perfil personalizado, onde podem listar seus produtos com descrições detalhadas e imagens atraentes. Eles desfrutam de total controle sobre os produtos, categorias, bairros para entrega, cupons de desconto, preços e outras informações relevantes.
                              <br>
                              <br>
                              Nossa plataforma foi cuidadosamente projetada para simplificar o processo de venda online, fornecendo uma experiência intuitiva tanto para os logistas quanto para os clientes. Ao utilizar a Foodshopee, os logistas podem expandir sua presença no mercado digital, alcançando um público mais amplo e, consequentemente, aumentando suas vendas.
                              <br>
                              <br>
                              Os clientes que acessam a Foodshopee têm acesso a uma ampla seleção de lojas e produtos em um único lugar. Eles podem explorar diferentes categorias, pesquisar por produtos específicos e descobrir novidades. Os clientes podem entrar em contato diretamente com os logistas para fazer suas compras e combinar as opções de pagamento e retirada dos produtos.
                              <br>
                              <br>
                              Acreditamos que a tecnologia desempenha um papel fundamental na evolução do comércio e, por isso, nossa plataforma oferece recursos avançados para facilitar a gestão do negócio e otimizar a experiência do cliente. Com a Foodshopee, os logistas podem se concentrar no que fazem de melhor - fornecer produtos de alta qualidade - enquanto nossa plataforma cuida do resto.
                              <br>
                              <br>
                              A Foodshopee é uma solução confiável e eficiente para logistas que desejam alcançar um público maior e expandir seus negócios no mundo do delivery. Nossa plataforma oferece suporte e recursos para auxiliar os logistas em todas as etapas, desde o cadastro dos produtos até a interação com os clientes.
                              <br>
                              <br>
                              Junte-se à Foodshopee hoje mesmo e faça parte de uma comunidade crescente de logistas que estão aproveitando os benefícios de uma plataforma de delivery voltada para o crescimento e sucesso dos seus negócios.
                            </p>    
                        </article>
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title text-center name_footer">Nosso Propósito</h5>
                                  <p class="card-text text-center">
                                    Acreditamos no poder da tecnologia para transformar comunidades. Nossa plataforma conecta compradores e vendedores locais, promovendo o desenvolvimento econômico das regiões onde atuamos.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title text-center name_footer">Nossa Personalidade</h5>
                                  <p class="card-text text-center">
                                    Nossos valores-chave são simplicidade, integridade e praticidade. Esses princípios guiam todas as etapas da jornada do cliente na FoodShopee. Nossa plataforma oferece controle total sobre produtos e pedidos.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="text-center"><span>
                            Na FoodShopee, nos destacamos pela nossa abordagem simples, prática e funcional. Esses atributos fundamentais estão presentes em cada etapa da jornada do cliente.
                          </span>
                          <div class="card-group">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title name_footer">Simples</h5>
                                <p class="card-text">Valorizamos a simplicidade e a integridade, pois acreditamos que são fundamentais para uma experiência de compra honesta, prática e verdadeira.</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title name_footer">Pratico</h5>
                                <p class="card-text">Na FoodShopee, priorizamos a praticidade e investimos constantemente em uma plataforma que cumpre suas promessas de maneira excepcional.</p>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title name_footer">Funcional</h5>
                                <p class="card-text">Oferecemos uma experiência simples e direta, com controle completo de produtos e pedidos.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
