{%extends 'base.html'%}

{% load filtros %}
    
<title>{% block 'title' %}
	Cariinho
	{% endblock %}</title>

{% block 'body'%}
<br>
<br>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>QTD.</th>
        <th>Obervaçao</th>
        <th>Sub total</th>
        <th>Remover</th>
      </tr>
    </thead>
    <tbody>
    {% for j, i in dados|enumerate%}
      <tr>
        <th><img src="{{i.imagem}}" width="50px"></th>
        <td>{{i.nome}}</td>
        <td>{{i.quantidade}}</td>
        <td>{{i.observacoes}}</td>
        <td>R${{i.preco}}0</td>
        <td><a href="{% url 'Core:remover_carrinho' j%}" class="btn btn-danger">Remover</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h1 class="titulo">Total: </h1>
  <h2 style="color: gray;">&nbsp R${{total}}0</h2>
  {% if carrinho == 0 or imagens.aberta == False %}
  <a href="{% url 'Core:finalizar_pedido' %}" class="btn btn-success disabled">Finalizar compra</a>
  {% elif carrinho != 0 %}
  <a href="{% url 'Core:finalizar_pedido' %}" class="btn btn-success">Finalizar compra</a>
  {% endif %}
  <a href="{% url 'Core:index'%}" class="btn btn-primary">Continuar comprando</a>
</div>
{%endblock%}