{% extends 'base.html'%}
{% load static %}

{% block 'title' %}
Checkout
{% endblock %}
{% block 'head' %}

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="{% static 'css/finalizar_pedido.css' %}" />
<script>$(document).ready(function() {

    function limpa_formulário_cep() {
        // Limpa valores do formulário de cep.
        $("#rua").val("");
        $("#bairro").val("");
    }

    //Quando o campo cep perde o foco.
    $("#cep").blur(function() {
        //Nova variável "cep" somente com dígitos.
        var cep = $(this).val().replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                $("#rua").val("...");
                $("#bairro").val("...");


                //Consulta o webservice viacep.com.br/
                $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                    if (!("erro" in dados)) {
                        //Atualiza os campos com os valores da consulta.
                        $("#rua").val(dados.logradouro);
                        $("#bairro").val(dados.bairro);

                    } //end if.
                    else {
                        //CEP pesquisado não foi encontrado.
                        limpa_formulário_cep();
                        alert("CEP não encontrado.");
                    }
                });
            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    });
});



</script>

{%endblock%}



{%block 'body'%}
<div class="container">


  <br>
  <h1 class="rosa">Ao clicar em "Efetuar pedido" será confirmado sua compra</h1>
  <hr>
 {% if messages%}
        {% for i in messages%}
        <div class="alert {{i.tags}}" role="alert">
            {{i}}
        </div>
        {%endfor%}
        {%endif%}


    <div class="row">

        <div class="col-sm fundo">

        <form method="POST" action="{% url 'Core:finalizar_pedido' %}">{% csrf_token %}

          <br>
          <h3 class="rosa">Nome<span class="importante">*</span>:</h3>
          <input type="text" required="required" class="form-control" placeholder="Nome" name="nome">
          <br>
          <h3 class="rosa">Cep<span class="importante">*</span>:</h3>
          <input type="text" class="form-control" required="required" data-mask='00000-000' id="cep" placeholder="CEP" name="cep">
          <br>
          <!-- <h3 class="rosa">Cidade*:</h3>
          <select class="form-control">
            <option selected>Contagem</option>
              <option >Belo Horizonte</option>
              <option >Ribeirao das Neves</option>
          </select>
        -->
          <h3 class="rosa">Rua<span class="importante">*</span>:</h3>
          <input type="text" required="required" class="form-control" placeholder="Rua" id="rua" name="rua">

          <br>
          <h3 class="rosa">Número<span class="importante">*</span>:</h3>
          <input type="text" required="required" class="form-control" placeholder="Número" name="numero">

          <br>
          <h3 class="rosa">Bairro<span class="importante">*</span>:</h3>
          <select class="form-control" required="required" class="form-control" placeholder="Bairro" id="inputbairro" name="bairro" onchange="freteBairro()">
            <option value="" selected>Selecione seu Bairro</option>
            {% for bairro in bairros %}
              <option value="{{bairro.id}}">{{bairro}}</option>
              {% endfor%}
          </select>
          

          <br>
          <h3 class="rosa">Ponto de referência:</h3>
          <input type="text" class="form-control" placeholder="Ponto de referência" name="pt_referencia">

          <br>
          <h3 class="rosa">Telefone<span class="importante">*</span>:</h3>
          <input type="text" required="required" data-mask="(00)00000-0000" class="form-control" placeholder="Telefone" name="telefone">
          <br>



    </div>

  </div>
  <div class="row">
    <div class="col-sm fundo">

    </div>

    <div class="col-sm fundo">
        <div class="rosa">
            <h4> O pagamento sera realizado no momento da entrega</h4>
        </div>
    </div>


</div>
<hr>
<br>
<div class="row">
    <div class="col-sm fundo">
        <h1 id="total">Total: R$ {{total}}0</h1>
        <p id="msg_frete"></p>
        <h1 id="frete_msg">Frete : {{Bairro}}0</h1>
        <input id="frete" type="text" style="display: none;" name="frete" value="{{Bairro}}0">
    </div>

    <div class="col-sm fundo">
        <input id="inputCupom" class="form-control" type="text" name="cupom" placeholder="Cupom de desconto">
        <p id="msg"></p>
        <br>
        <div id="btnCupom" class="btn btn-secondary" onclick="validaCupom()">Validar cupom</div>
    </div>


</div>
<br>
<br>

<div id="pagamento">

    <h3 class="rosa">Meio de pagamento<span class="importante">*</span>:</h3>
    <select name="meio_pagamento" class="form-control" onchange="javascript:dinheiro(this);">
        <option value="1">Dinheiro</option>
        <option value="2">Cartão</option>
    </select>

    <div id="troco">
        <h3 class="rosa">troco para</h3>
        <input type="text" class="form-control"  placeholder="ex.:10" name="troco_para">
    </div>
    <br>
    <button onclick="envia()" class="btn btn-success btn-lg">Efetuar pedido!</button>

</div>

</form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
function validaCupom(){
   cupom = document.getElementById('inputCupom').value
   $.ajax({
            url: "{% url 'Core:validaCupom'%}",
            method: 'post',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'cupom': cupom
            },
            success: function(resposta){
              resposta = JSON.parse(resposta)
              div_total = document.getElementById('total')
              msg = document.getElementById('msg')
              if(resposta['status'] == 1){
                div_total.innerHTML = 'Total: R${{total}}0'
                msg.innerHTML = "Cupom inválido"
                msg.style.color = 'red'
              }else{
                div_total.innerHTML = 'De: <s>R${{total}}0</s> Por R$' + resposta['total_com_desconto'] + '0'
                msg.innerHTML = resposta['desconto'] + "% aplicado com sucesso"
                msg.style.color = 'green'
              }


            }

        })
}
</script>

<script>
    function freteBairro(){
        bairro = document.getElementById('inputbairro').value
       $.ajax({
                url: "{% url 'Core:freteBairro'%}",
                method: 'post',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'bairro': bairro
                },
                success: function(resposta){
                  resposta = JSON.parse(resposta)
                  frete_msg = document.getElementById('frete_msg')
                  div_frete = document.getElementById('frete')
                  msg = document.getElementById('msg_frete')
                  if(resposta['status'] == 0){
                    div_frete.value = resposta['frete']
                    frete_msg.innerHTML = 'Frete Por R$' +' '+resposta['frete']
                    msg.innerHTML = "O valor de Frete para essa Localidade"
                    msg.style.color = 'red'
                    msg.style.fontSize ='24px'
                  }
    
    
                }
    
            })
    }
    </script>

{%endblock%}