{% extends 'base.html' %}

{% load static %}

<title>{% block 'title' %}
	Pagina Inicial
	{% endblock %}</title>

{% block 'body' %}
	<div class="maincontent">
		<div class="container">
			<section id="menu">
				<div class="block menu1">
					<div class="buttons-container"> 
						{% for categoria in Categorias %}
						<a href="{% url 'categoria' categoria.id %}" class="button button--is-active" data-target="{{categoria}}">{{categoria}}</a>
						{% endfor %}
					</div>
					<!-- Start for  Menu -->
					{% for categoria in Categorias %}
					<div class="menu" id="{{categoria}}" data-aos="fade-up">

						<h1>{{categoria}}</h1>
						
						{% for produto in Produtos %}
						{% if produto.ativo %}

						<div class="item row align-items-center">
							<div class="col-sm-3 pr-5">
								<img class="product-img" src="/media/{{produto.img}}">
							</div>
							<div class="details col-sm-9">
								<div class="item__header">
									<h3 class="item__title">{{produto}}</h3>
									<span class="item__dots"></span>
									<span class="item__price">${{produto.preco|floatformat}}</span>
								</div>
								<p class="item__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									Sunt quos harum
									officia eaque nobis ut.</p>
								<button class="btn btn-sm btn-outline-primary my-cart-btn" data-id="{{produto.id}}"
									data-name="{{produto}}" data-price="{{produto.preco|floatformat}}" data-quantity="1"
									data-image="/media/{{produto.img}}">Add to cart</button>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					{% endfor %}
					<!-- End For Menu -->
				</div>
				<!-- End block -->
				<script src="{% static 'js/mycart.js' %}"></script>
				<script src="{% static 'js/mycart-custom.js' %}"></script>
			</section>
		</div>
	</div>
	<div class="nav-item my-cart-icon">
		<img src="{% static 'img/cart.svg' %} " style="width:20px;"> <span class="badge badge-notify my-cart-badge"> </span>
	</div>
	<footer class="block footer1 footer text-center">
		<p>&copy; <a href="https://bootstrapstarter.com/bootstrap-templates/template-fooddelivery-bootstrap-html/">"Food
				Delivery HTML Template"</a> by
			WowThemes.net</p>
	</footer>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
	<script src="{% static 'js/custom-general.js' %}"></script>

{% endblock %}