
{% extends 'base.html'%}
<title>{% block 'title' %}
	Pedido Realizado
	{% endblock %}</title>
{% block 'head' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBHN0080W9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XBHN0080W9');
</script>

			{% endblock %}

{% block 'body' %}
<div class="alert alert-success text-center" role="alert">
    Seu pedido foi realizado com sucesso

    {% if avisos  %}
    <div class="alert {{avisos.tag}}" role="alert">
        {{aviso}}
    </div>
    {% endif %}

  </div>
{%endblock%}