{%extends 'base.html'%}
{% load static %}

<title>{% block 'title' %}
	Política de Privacidade
	{% endblock %}</title>
    {% block 'head' %}
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JV8YZKQ6ME"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JV8YZKQ6ME');
</script>
			{% endblock %}

        {% block 'body' %}
        <div class="text-center container">
            <br>
			<div style="text-align:left ;">
			<span>Atualizado: 30/05/2023</span>
		</div>
            <br>
	<h1 class="name_footer">[Políticas] Política de Privacidade | Food</h1>

	<p>Esta Política de Privacidade descreve como coletamos, usamos e divulgamos informações pessoais que possamos obter de você ou que você possa nos fornecer através do uso da nossa plataforma de delivery para logistas.</p>

	<h2 class="name_footer">Coleta de Informações</h2>
	<p>
        Podemos coletar informações pessoais que você nos forneça diretamente ao se registrar em nossa plataforma, incluindo nome, endereço de e-mail, número de telefone e informações de pagamento. Também podemos coletar informações automaticamente à medida que você navega na plataforma, como seu endereço IP, informações do dispositivo e informações sobre como você usa a plataforma.
    </p>

	<h2 class="name_footer">Uso das Informações</h2>

	<p>Usamos as informações pessoais que coletamos para fornecer e aprimorar a nossa plataforma, processar pagamentos, contatá-lo sobre sua conta e enviar-lhe comunicações de marketing e informativas. Podemos compartilhar suas informações com terceiros, como provedores de pagamento e serviços de entrega, para cumprir seus pedidos e processar pagamentos.</p>

	<h2 class="name_footer">Cookies</h2>

	<p>Podemos Usar cookies e outras tecnologias semelhantes para coletar informações sobre como você usa a plataforma. Você pode optar por não aceitar cookies, mas isso pode afetar o desempenho da plataforma.</p>

	<h2 class="name_footer">Segurança</h2>
	<p>
        Tomamos medidas de segurança para proteger as informações pessoais que coletamos. No entanto, a transmissão de informações pela internet não é completamente segura e não podemos garantir a segurança de suas informações transmitidas para a nossa plataforma.
    </p>

    <h2 class="name_footer">Alterações nesta Política</h2>

    <p>
        Podemos atualizar esta Política de Privacidade de tempos em tempos. Se fizermos alterações significativas, informaremos a você por meio de um aviso na plataforma.
    </p>

	<h2 class="name_footer">Entre em contato</h2>

	<p>
        Se tiver alguma dúvida ou preocupação sobre nossa Política de Privacidade, entre em contato conosco através do endereço de e-mail sac@food.com .
    </p>

</div>
<p>
    
</p>
    {% endblock %}
