{%extends 'base.html'%}
{% load cache %}

{% load static %}

{%block 'head'%}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBHN0080W9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XBHN0080W9');
</script>


<link rel="stylesheet" href="{% static 'css/produto.css' %}" />
{%endblock%}
{% block 'title' %}
Produto
{% endblock %}

{% block 'body'%}
<div class="product" style="align-items: center; text-align: center;">
    <br>
    <div class="container">
        
        {% if messages %}
        {% for mensagem in messages%}
        <div class="alert {{mensagem.tags}}" role="alert">
            {{mensagem}}
        </div>
        {%endfor%}
        {%endif%}
    

    </div>

    <img class="tamanhoImg" style="margin-top: 20px;" src="{{produto.img.url}}">

    <h3  class="titulo tituloProduto">{{produto.nome_produto}}</h3>
    <hr style="width: 250px;">
    <h1 class="titulo subTituloProduto">Descrição: </h1>
    <h3 style="color: gray;">{{produto.descricao}}</h3>
    <h1 class="titulo subTituloProduto">Ingredientes: </h1>
    <h3 style="color: gray;">{{produto.ingredientes}}</h3>

   

    <form method="POST" action="{% url 'Core:add_carrinho' %}">{% csrf_token %}
    <input name="id" style="display: none;" type="text" value="{{produto.id}}">


    {% if produto.adicionais %}
    
    {% for i in produto.adicionais.all %}
    <h1 class="titulo subTituloProduto">Adicionais: </h1>
    <h1>{{i}}</h1>
    <p>Escolha no mínimo {{i.minimo}} e no máximo {{i.maximo}} {{i}}</p>
        {%for j in i.opcoes.all%}
            {%if j.ativo%}
                <div>
                <input type="checkbox" class="checkbox" name="{{i}}" value={{j.id}}>
                <label for="scales">&nbsp&nbsp&nbsp{{j}} + R${{j.acrecimo}}</label>
                </div>
                <br>
            {%endif%}
        {%endfor%}
    {% endfor %}
   
    {% elif produto.adicionais  %}
    <h1>Sem adicional</h1>
    {% endif %}

    <h1 class="titulo subTituloProduto">Observações: </h1>
    <textarea name="observacoes" class="observacoes" type="text"> </textarea>

    <h1 class="titulo subTituloProduto">Quantidade: </h1>
    <input name="quantidade" class="quantidade" type="number"  min="1" max="200" value="1">
    
    <div class='product-item__info'>
    <h1 class="titulo subTituloProduto">Preço: </h1>
    <spam class="preco">R$ {{produto.preco|floatformat}} Unidade</spam>
    
    {% if imagens.aberta != True or null %}
    <button type="submit" type="button" class="btn btn-primary disabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
</svg>
Adicionar carrinho
      </button>
      {%else%}
      <button type="submit" type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
</svg>
Adicionar carrinho
      </button>
      {% endif %}	
   
    </div>

</form>

</div>

{%endblock%}