{%extends 'base.html'%}
{% load static %}

<title>{% block 'title' %}
	Termos de Serviço
	{% endblock %}</title>
	{% block 'head' %}
	<!-- Google tag (gtag.js) -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBHN0080W9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XBHN0080W9');
</script>

			{% endblock %}
        {% block 'body' %}
        <div class="text-center container">
            <br>
			<div style="text-align:left ;">
			<span>Atualizado: 30/05/2023</span>
		</div>
	<h1 class="name_footer">Termos de Serviço</h1>

	<p>Estes termos e condições ("Termos") regem o uso da plataforma de delivery oferecida por Meu E-menus. Ao utilizar a Plataforma, você concorda com estes Termos. Se você não concorda com estes Termos, não use a Plataforma.  Em caso de dúvidas, entre em contato conosco através do nosso canal de suporte.</p>

	<h2 class="name_footer">1. Uso da Plataforma</h2>

	<p>A Plataforma permite que logistas cadastrados ("Logistas") recebam pedidos de clientes e realizem entregas por meio de entregadores terceirizados ("Entregadores"). O uso da Plataforma é restrito a Logistas cadastrados e autorizados por Nós.
        <br>
        Nossa plataforma de delivery oferece aos logistas a possibilidade de cadastrarem seus estabelecimentos e disponibilizarem seus produtos para venda online Através da nossa plataforma.</p>

	<h2 class="name_footer">2. Pedidos</h2>

	<p>A Plataforma permite que clientes realizem pedidos de produtos dos Logistas cadastrados. Nós não somos responsáveis pela qualidade, quantidade ou condições dos produtos oferecidos pelos Logistas. Qualquer reclamação deve ser direcionada ao Logista responsável.</p>

	<h2 class="name_footer">3. Entregas</h2>

	<p>As entregas realizadas pelos Entregadores terceirizados são de responsabilidade dos mesmos. Nós não somos responsáveis por quaisquer danos, perdas ou atrasos ocorridos durante a entrega. Qualquer reclamação deve ser direcionada ao Logista responsável.</p>

	<h2 class="name_footer">4. Taxas e Pagamentos</h2>

	<p>Os logistas cadastrados em nossa plataforma estão sujeitos a uma taxa mensal de utilização da plataforma.  Essa taxa será cobrada através do email cadastrado pelo logista e tem como objetivo garantir a manutenção e aprimoramento dos serviços oferecidos.
        <br>
        <p>
            Não solicitamos quaisquer outros valores, cabendo ao logista o pagamento mensal da taxa de utilização da plataforma e o repasse dos valores aos entregadores.
        </p>
    </p>

    <h2 class="name_footer">5. Responsabilidades</h2>

    <p>
        Nossa empresa não se responsabiliza por atrasos na entrega dos produtos causados por motivos alheios à nossa vontade, como por exemplo, problemas de trânsito ou falhas de transporte. No entanto, nos comprometemos a fazer o possível para minimizar esses problemas e garantir uma experiência de compra satisfatória para os nossos clientes.
    </p>

	<h2 class="name_footer">6. Modificações nos Termos</h2>

	<p>Nos reservamos o direito de modificar esses termos de serviço a qualquer momento, sem aviso prévio. É importante que você leia e aceite os termos atualizados antes de continuar usando nossos serviços.</p>

	<h2 class="name_footer">7. Encerramento da Plataforma</h2>

	<p>Reservamo-nos o direito de encerrar a Plataforma a qualquer momento, sem aviso prévio. Em caso de encerramento, os Logistas serão notificados com antecedência e receberão orientações sobre como acessar seus dados armazenados na Plataforma.</p>

	<h2 class="name_footer">8. Lei Aplicável</h2>

	<p>Estes Termos são regidos pelas leis do Brasil. Qualquer disputa relacionada a estes Termos será submetida à jurisdição exclusiva dos tribunais brasileiros.</p>
</div>
<p>
    
</p>
    {% endblock %}
