{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <link rel="icon" href="{% static 'img/icon.png' %}" />
		<title>{% block 'title' %}
            {% endblock %}</title>
			{% block 'head' %}
			{% endblock %}
    </head>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white"> <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" style="height: 80px;"></a>
        <button
        class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"> <a class="nav-link" href="{% url 'index' %}">Bem Vindo<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/">Area Adiministrativa</a>
                    </li>
                </ul> 
            </div>
    </nav>
    <body>
        <div class="block hero1 my-auto"
		style="background-image:url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);">
		<div class="container-fluid text-center">
			<h1 class="display-2 text-white" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="0">Bistrot
				Français</h1>
			<p class="lead text-white" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">We are closed
				for the moment, but we will still deliver food at your place!</p>
			<a href="{% url 'index' %}" class="btn-text lead d-inline-block text-white border-top border-bottom mt-4 pt-1 pb-1"
				data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">View Today's Menu</a>
		</div>
		<div class="clearfix"></div>
	</div>
    <div class="text-center" role="alert">
        {% if avisos %}
        {% for aviso in avisos%}
        <div class="alert {{aviso.tag}}" role="alert">
            {{aviso}}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    {% block 'body' %}
	{% endblock %}
    </body>
    <a class="nav-item my-cart-icon" href="{%url 'ver_carrinho'%}">{{carrinho}}<svg xmlns="http://www.w3.org/2000/svg"width="1.2em" height="1.2em" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
		<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
	  </svg></a>
	<footer class="block footer1 footer text-center">
		<p>&copy; <a href="https://bootstrapstarter.com/bootstrap-templates/template-fooddelivery-bootstrap-html/">"Food
				Delivery HTML Template"</a> by
			Vitor</p>
	</footer>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
		<script src="{% static 'js/mycart.js' %}"></script>
		<script src="{% static 'js/mycart-custom.js' %}"></script>
	<script src="{% static 'js/custom-general.js' %}"></script>
  
</html>